.img-slider__container-1 {
    display: flex;
    column-gap: 20px;
    width: 100%;
    overflow: auto;
    justify-content: start;
    align-items: center;
}
.img-slider__container-1 .img-items {
    width: 100%;
}
.img-slider__container-1 .img-items img {
    width: 100%;
}
.img-slider__container-1 .img-items img.img-active {
    transform: translateX(-100%);
}
.buttons{
    position: absolute;
    bottom: 0;
    left: 0;
}
.imgs{
    display: flex;
    width: 50%;
}
.imgs .textOnInput{
    width: 100%;
}
@media (max-width: 600px) {
    .buttons{
        position: unset!important;
        bottom: 0;
        left: 0;
    }
    .buttons button{
        display: block;
       clear: both;
    }
    .imgs{
        display: unset!important;
        width: 100%;
    }
    .img-slider__container-1 .img-items img {
        width: 140px;
    }
    .imgs .textOnInput{
        border: none!important;
    }
    .imgs .bi-plus-square{
        width: 43px;
    }
}
.table-fixed {
    table-layout: fixed;
    width: 70rem!important;
}

.table-fixed td {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-fixed th {

   padding: 0;
}

.detial-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 7%;
    height: 100%;
    width: 88%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(46, 46, 47, 0.51);
}
.img:hover .detial-img {
    opacity: 1;
}
.text {
width: 100%;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text p{
    color: white;

}